*,
*::after,
*::before {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    /* CSS HSL */
    --space-cadet: hsla(235, 21%, 21%, 1);
    --cool-gray: hsla(218, 17%, 62%, 1);
    --antiflash-white: hsla(197, 24%, 94%, 1);
    --red-pantone: hsla(353, 86%, 54%, 1);
    --fire-engine-red: hsla(350, 96%, 43%, 1);
}

img{
    height: 500px;
}


body{
    overflow: hidden;
    background-color: var(--antiflash-white);

}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    gap: 20px;
}

.container::-webkit-scrollbar{
    display: none;
}

.slides{
    scroll-snap-align: start;
    min-width: 100%;
    height: 100vh;
    border: 2px solid black;
}


.home{
    display: flex;
    gap:10px;
}

.home > img{
    max-height: 100%;
    border-radius: 10px;
}
.info{
    min-width: 100%;
    height: 100%;
}
.info > h1{
    height: 10%;
    color: black;
    font-size: 3rem;
    text-align: center;
    font-variant: small-caps;
}
nav{
    width: 100%;
    height: 90%;
}

nav > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;

}
nav li{
    border: 2px solid black;
    flex-grow: 1;
    
}
nav li:hover{
}
nav a{
    text-decoration: none;
    color: var(--fire-engine-red);
    font-size: 2rem;
}

nav p{
    font: 1.5rem;
}