*,
*::after,
*::before {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* CSS HEX */
  --floral-white: #fffcf2ff;
  --timberwolf: #ccc5b9ff;
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
}

body {
  user-select: none;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--timberwolf);
  color: var(--black-olive);
}

.container {
  background-color: var(--floral-white);
  width: max-content;
  height: max-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 2px 2px 20px var(--eerie-black);
  padding-top: 20px;
  padding-bottom: 20px;


}
.container h1 {
  font-size: clamp(1rem, 3vmax, 5rem);
  text-wrap: nowrap;
}
.container h2 {
  font-size: clamp(1rem, 2vmax, 4rem);
}

/* .container p{
    text-wrap: wrap;
    width: clamp(200px, 25vmax, 400px);
    font-size: clamp(.75rem, 1.24rem, 1.5rem);
    text-align: center;
} */

.container img {
  width: clamp(200px, 25vmax, 400px);
  border: 5px solid var(--red-pantone);
  border-radius: 1rem;
  /* box-shadow: 0px 0px 10px var(--eerie-black); */
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}


nav {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

nav > a {
    border-radius: 1rem;
  font-size: clamp(1rem, 2vmax, 4rem);
  text-decoration: none;
  color: var(--flame);
  border: 5px solid var(--flame);
  padding: .5em;
  /* transition: all 0.2s */
  
}

nav > a:hover{
    animation: btn-animation 0.2s ease both;

}

@keyframes btn-animation{
    to {
        background-color: var(--flame);
        color: var(--floral-white);
        box-shadow: 0px 0px 20px var(--flame);
    }
}
